<!DOCTYPE html>
<html>
    <head>
        <link href= "/css/bootstrap.css" rel="stylesheet">
        <link href="/css/bootstrap-responsive.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <style>
        .button {
                    display: inline-block;
                    padding: 8px 8px;
                    background-color: #0077b6;
                    color: #fff;
                    text-decoration: none;
                    border-radius: 3px;
                    font-size: 16px;
        }
        p {
            font-size: 18px; 
        }
        label {
                display: inline-block; 
                width: 150px; 
                text-align: right; 
                padding-right: 10px; 
                font-size: 18px; 
        }
        input {
                display: inline-block; 
                width: 250px;
                font-size: 18px; 
        }
        .row {
            margin-left: 100px;
        }
        .row p {
        font-size: 18px;
        margin: 0;
        border: 2px solid blue; 
        padding: 5px; 
        }
        table {
            border-collapse: collapse;
            width: 60%;
            margin: 0 auto;
        }

        th, td {
            border: 1px solid #000;
            padding: 8px;
            text-align: center;
        }
        </style>
        <title>Gambling Site</title>
    </head>
<body>
    <%= yield %>
    <script src= "/js/bootstrap.min.js"></script>
</body>
</html>